/* SCROLLBAR */

/* width */

/* Track */
 
/* Handle */

/* Handle on hover */

/* changes the color of the navbar, where it shows your currency, messages and modbox */

/* changes the breadcrumb nav, aka the nav under the one that displays your currency, messages and modbox */

/* affects the main box on profile */

/* affects the nametag + den name header */

h2{ /* changes the color of 'Den Options' */
    color: #ca0020;
}

/* affects the "edit account settings" */

.card-body, .card{ /* alters the cards on the den profile */
    background-color: #ffffff !important;
}

.card{
    border: 2px solid #6f6f6f !important; /* changes the border around? or under the cards */
    color: #000000;
}

.card-body.pt-1.pb-1{ /* hides the border bar below the pack leader avatar */
    display: none;
}

span{ /* changes the color of some text? */
    color: e66101;
}

/* affects the p tag, aka the basic text that you write in your profile page */

/* affects most the links, not just the ones in color */

/* only active when the cursor hovers OVER a link */

/* changes the table subheader, aka the header underneath the first header */

td.bottom{ /* changes the color of the bottom portion of a table */
    background-color: #b2abd2 !important;
}

.alert-info{ /* affects banners */
    color: #b8e186 !important;
    background-color: #d01c8b;
}

/* affects banner links */

/* this is just to invert the color from black to white and make the alert icon visible */

.card.text-center{ /* change the color of the buttons for pack dynasty, nesting, overview and breeding */
    background-color: #5e3c99 !important;
}

#summernote-form{ /* changes the font color under Den Options */
    color: #5e3c99; /* purple */
}

/* PROGRESS BARS */

div.progress-bar.bg-warning{
    background-color: #F0AD4E !important; /* affects the color for ENERGY BAR */
}

div.progress-bar.bg-danger{
    background-color: #D9534F !important; /* affects the color for HUNGER BAR */
}

div.progress-bar.bg-info{
    background-color: #057CB3 !important; /* affects the color for HP BAR */
}

.progress-bar.bg-primary{
    background-color: #395F71 !important; /* affects the color for the MOOD BAR */
}

div.progress-bar.bg-success{
    background-color: #78A64B !important; /* affects the color for EXP BAR and pup survival */
}

div.progress{
    background-color: #C9C9C9 !important;
}

/* TABLES */

tbody{ /* main table */
    border: 2px solid #6f6f6f; 
    color: #000000;
}

th{ /* the top of the tables, looks the same as the profile cards */
    background-color: #252525 !important;
}

td.left{
    /* write here if you want to change the left side of the table */
    background-color: #EBCC2A !important;
    color: #F22100; /* font color */
}

.table-striped tbody tr:nth-of-type(odd) { /* changes every other of a table row, making it striped */
    background-color: #DDDDDD
}

td.right{
    /* write here if you want to change the right side of the table */
}


select.form-control, option{
    /* write here if you want to change the color of the drop-boxes */
}

select.form-control:focus{
    /* write here if you want to change the color of the drop-boxes after clicked*/
}

.note-editable.card-block{
}

span.note-current-fontsize{
    /* changes the text on the font color button - color-important */
}

span.note-current-fontname{
    /* changes the text on the font name button - color-important */
}

.dropdown-item{
}

/* CHATBOX */
.s-chat-message_content{ 
    /* affects chat colors - color: #000000; */
}

.s-chat__username{ 
    /* affects usernames in chat - color: #000000; */
}

.s-chat-message_content a{ 
    /* affects links in chat - color: #000000; */
}


/* EXTRA PROFILE BOXES */
.lazy-profile-scrollbox{ /* affects simple scroll-box */
    height: 100px;
    overflow-Y: scroll;
    background: black;
    padding: 3px 5px;
    border: 2px solid #6F6F6F;
    color: white !important;
}

.mt-3 th:after{float:right;content: "theme by Kallisto #44595";opacity: 0.5;}
