/* SCROLLBAR */

/* width */

/* Track */
 
/* Handle */

/* Handle on hover */

/* changes the color of the navbar, where it shows your currency, messages and modbox */

/* changes the breadcrumb nav, aka the nav under the one that displays your currency, messages and modbox */

/* affects the main box on profile */

/* affects the nametag + den name header */

/* changes the 'den options' text */

/* affects the "edit account settings" */

.card-body, .card{ /* the cards on your profile (also for some reason account settings buttons?) */
    background-color: #ffffff !important;
}

.card{
    border: 3px solid #6f6f6f !important; /* changes the border from a shadow-looking thing to just becoming a simple border */
    color: #DDDDDD;
}

.card-body.pt-1.pb-1{ /* hides the weird shadow under the pack leader wolf avatar */
    display: none;
}

/* changes some text to white */

/* affects the p tag, aka the basic text that you write in your profile page */

/* affects most the links, not just the ones in color */

/* only active when the cursor hovers OVER a link */

/* changes the table subheader, aka the header underneath the first header */

/* changes the color of the bottom-most part of a table */

/* affects banners */

/* affects banner links */

/* this is just to invert the color from black to white and make the alert icon visible */

.card.text-center{ /* makes the buttons pack dynasty, nesting, overview and breeding black */
    background-color: #252525 !important;
}

#summernote-form{
    color: #DDDDDD;
}

/* PROGRESS BARS */

div.progress-bar.bg-warning{
    background-color: #F0AD4E !important; /* affects the color for ENERGY BAR */
}

div.progress-bar.bg-danger{
    background-color: #D9534F !important; /* affects the color for HUNGER BAR */
}

div.progress-bar.bg-info{
    background-color: #057CB3 !important; /* affects the color for HP BAR */
}

.progress-bar.bg-primary{
    background-color: #395F71 !important; /* affects the color for the MOOD BAR */
}

div.progress-bar.bg-success{
    background-color: #78A64B !important; /* affects the color for EXP BAR and pup survival */
}

div.progress{
    background-color: #DDDDDD !important;
}

div.floatright a{ /* changes the 'view all' in the top right of recent friends */
    color: #fff !important;
}

/* TABLES */

tbody{ /* main table */
    border: 3px solid #6f6f6f; 
    color: #000000;
}

th{ /* the top of the tables, looks the same as the profile cards */
    background-color: #252525 !important;
}

td.left{
   /* write here if you want to change the left side of the table */
}

.table-striped tbody tr:nth-of-type(odd) { /* changes every other of a table row, making it striped */
    background-color: #DDDDDD
}

td.right{
    /* write here if you want to change the right side of the table */
}


select.form-control, option{
    /* write here if you want to change the color of the drop-boxes */
}

select.form-control:focus{
    /* write here if you want to change the color of the drop-boxes after clicked*/
}

.note-editable.card-block{
}

span.note-current-fontsize{
    /* changes the text on the font color button - color-important */
}

span.note-current-fontname{
    /* changes the text on the font name button - color-important */
}

.dropdown-item{
}

/* CHATBOX */
.s-chat-message_content{ 
    /* affects chat colors - color: #000000; */
}

.s-chat__username{ 
    /* affects usernames in chat - color: #000000; */
}

.s-chat-message_content a{ 
    /* affects links in chat - color: #000000; */
}


/* EXTRA PROFILE BOXES */
.lazy-profile-scrollbox{ /* affects simple scroll-box */
    height: 100px;
    overflow-Y: scroll;
    background: black;
    padding: 3px 5px;
    border: 3px solid grey;
    color: white !important;
}

.mt-3 th:after{float:right;content: "theme by Kallisto #44595";opacity: 0.5;}
